// Less part for edit form in Pushnotification

body#html-body {
	.entry-edit.form-inline {
		span.delete-image {
			input#page_icon_delete {
				margin: unset;
			}
			padding-left: 10px;
		}
		input#page_icon {
			position: absolute;
			padding: 0px 10px;
			margin-top: 0;
		}
		img#page_icon_image {
			width: 45px;
			height: 45px;
		}
	}
}
body.pushnotification-templates-edit {
	form#edit_form {
		div#icon-note {
			padding-top: 20px;
			padding-left: 10px;
		}
	}
}

